<div class="container">
  <div class="content">
    <div class="registration-form">
      <div>
        <h1>Formulario de Registro</h1>
        <hr/>
      </div>
      <form action="">
        <div class="form-group pad-bot-label">
          <div class="col-left">
            <label for="id">ID</label>
          </div>
          <div class="col-right">
            <label for="name">Nombre</label>
          </div>
        </div>
        <div class="form-group pad-bot-input">
          <div class="col-left">
            <input type="text" id="id" required>
          </div>
          <div class="col-right">
            <input type="text" id="name" required>
          </div>
        </div>
        <div class="form-group pad-bot-label">
          <div class="col-left">
            <label for="description">Descripción</label>
          </div>
          <div class="col-right">
            <label for="logo">Logo</label>
          </div>
        </div>
        <div class="form-group pad-bot-input">
          <div class="col-left">
            <input type="text" id="description" required>
          </div>
          <div class="col-right">
            <input type="text" id="logo" required>
          </div>
        </div>
        <div class="form-group pad-bot-label">
          <div class="col-left">
            <label for="date_realease">Fecha Liberación</label>
          </div>
          <div class="col-right">
            <label for="date_revision">Fecha Revisión</label>
          </div>
        </div>
        <div class="form-group pad-bot-input">
          <div class="col-left">
            <input type="date" id="date_realease" required>
          </div>
          <div class="col-right">
            <input type="date" id="date_revision" required>
          </div>
        </div>
      </form>
      <div class="form-actions">
        <div class="reset">
          <button type="reset">Reiniciar</button>
        </div>
        <div class="submit">
          <button type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
