.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 40px;
  }

.logo {
  max-width: 150px;
}

.content {
  width: 98%;
  height: 100%;
  padding-left: 0;
  background-color: #f0f0f0;
}
