.search-bar {
  padding: 15px 0; /* Add some padding on top and bottom */
}

.search-bar input {
  width: 200px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 7px;
  padding-left: 7px;
}
